body {
    display: flex;
    flex-direction: column; /* Alteração para column */
    margin: 0;
    background-color: #830505;
}

header {
    display: flex;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #211B15;
    width: 100%;
    height: 150px;
    align-items: center;
}


#logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#logo:hover {
    animation: grow 0.2s forwards;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 200px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 24px;
    position: relative;
    color: rgb(209, 194, 194);
}

.link-button:hover {
    color: lightblue;
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
        color: #830505;
    }
    100% {
        transform: scale(1.3);
        color: lightblue;
    }
}

.link-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: lightblue;
    bottom: 0;
    left: 15%;
}

.link-button:hover::after {
    width: 72%;
    animation: grow 0.2s forwards;
    transition: width 0.6s;
}

main {
    font-size: 18px;
    margin-left: 24px;
    margin-right: 24px;
}

#intro {
    text-align: center;
    font-weight: bolder;
    color: rgb(226, 226, 0);
    font-size: 48px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 51px;
}

main p {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -9px;
}

ul {
    margin-bottom: 45px;
}

footer {
    display: flex;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    background-color: #211B15;
    width: 100%;
    color: rgb(209, 194, 194);
    height: 150px;
    align-items: center;
    justify-content: center;
}

#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(209, 194, 194);
}

#lists {
    display: flex;
    flex-direction: column;
}

#ifpe {
    border: 12px solid #211B15;
    border-radius: 10%;
    margin-left: 60px;
    margin-bottom: 24px;
    width: 450px;
}

figcaption {
    text-align: center;
    margin-left: 60px;
    margin-top: -24px;
}

@media only screen and (max-width: 1000px) {
    main p {
        font-size: 21px;
    }

    main {
        font-size: 18px;
    }

    #ifpe {
        width: 240px;
        margin-left: 6px;
    }
}

@media only screen and (max-width: 700px) {
    #intro {
        font-size: 30px;
        margin-bottom: 24px;
    }

    figure {
        display: none;
    }

    main {
        text-align: center;
        margin-bottom: 0px;
    }

    ul {
        text-align: justify;
        margin-bottom: 18px;
    }

    footer {
        margin-top: 36px;
        font-size: 12px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 100px;
    }

    #logo {
        width: 50px;
    }

    #name {
        font-size: 24px;
    }

    #content {
        font-size: 15px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .link-button {
        font-size: 15px;
    }
}
