body {
    display: flex;
    flex-direction: column; /* Alteração para column */
    margin: 0;
    background-color: #830505;
}

header {
    display: flex;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: #211B15;
    width: 100%;
    height: 150px;
    align-items: center;
}

#logo {
    width: 100px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#logo:hover {
    animation: grow 0.2s forwards;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 200px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 24px;
    position: relative;
    color: rgb(209, 194, 194);
}

.link-button:hover {
    color: lightblue;
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
        color: black;
    }
    100% {
        transform: scale(1.3);
        color: lightblue;
    }
}

.link-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: lightblue;
    bottom: 0;
    left: 15%;
}

.link-button:hover::after {
    width: 72%;
    animation: grow 0.2s forwards;
    transition: width 0.6s;
}

#intro {
    text-align: center;
    font-weight: bolder;
    color: rgb(226, 226, 0);
    font-size: 48px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
    margin-bottom: 81px;
}

.title {
    color: rgb(209, 194, 194);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#project {
    margin-bottom: -21px;
}

#subtitle {
    color: rgb(206, 189, 189);
    text-align: center;
    font-size: 24px;
    opacity: 0.6;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main > div > section {
    font-size: 27px;
    color: yellow;
    text-align: justify;
    background-color: purple;
    border: 2px solid #211B15;
    border-radius: 5%;
    
}

main > div > section > p {
    margin: 24px;
}

#sincrono > section {
    height: 333px;
}

#arremate > section {
    height: 290px;
}

#final > section {
    height: 390px;
}

main img {
    margin: auto;
}

#jojo {
    border: 3px solid #211B15;
    border-radius: 5%;
    height: 400px;
    width: 690px;
}

#pikachu {
    border: 3px solid #211B15;
    border-radius: 10%;
    height: 510px;
    width: 690px;
}

#scratch {
    border: 3px solid #211B15;
    border-radius: 10%;
    height: 450px;
    width: 690px;
}

figcaption {
    margin-top: 5px;
    margin-left: 222px;
    color: rgb(209, 194, 194);
    font-size: 18px;
}

@media only screen and (max-width: 1200px) {
    main > div > section {
        font-size: 21px;
    }

    #sincrono > section {
        height: 333px;
    }
    
    #arremate > section {
        height: 333px;
    }
    
    #final > section {
        height: 390px;
    }

    #jojo {
        height: 300px;
        width: 600px;
    }
    
    #pikachu {
        height: 390px;
        width: 600px;
    }
    
    #scratch {
        height: 360px;
        width: 600px;
    }
}

@media only screen and (max-width: 1000px) {
    main {
        margin-right: 10px;
        margin-left: 25px;
    }

    main > div > section {
        font-size: 18px;
    }

    #sincrono > section {
        height: 222px;
    }
    
    #arremate > section {
        height: 222px;
    }
    
    #final > section {
        height: 273px;
    }

    #jojo {
        height: 255px;
        width: 450px;
    }
    
    #pikachu {
        height: 300px;
        width: 450px;
    }
    
    #scratch {
        height: 300px;
        width: 450px;
    }

    figure {
        margin-left: 10px;
    }

    figcaption {
        margin-left: 111px;
    }
}

@media only screen and (max-width: 800px) {
    main {
        margin-right: 10px;
        margin-left: 10px;
    }

    main div {
        flex-direction: column;
    }

    main > div > section {
        margin-left: 21px;
    }

    .title {
        margin-bottom: 0;
    }

    #subtitle {
        margin-bottom: 0;
    }

    #sincrono > section {
        height: 180px;
        width: 333px;
    }
    
    #arremate > section {
        height: 160px;
        width: 333px;
    }
    
    #final > section {
        height: 190px;
        width: 333px;
        margin-bottom: 24px;
    }

    #jojo {
        height: 200px;
        width: 390px;
    }
    
    #pikachu {
        height: 300px;
        width: 390px;
    }
    
    #scratch {
        height: 300px;
        width: 390px;
    }

    figure img {
        margin-left: 36px;
    }
    
    figcaption {
        margin-left: 105px;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: 100px;
    }

    #logo {
        width: 50px;
    }

    #name {
        font-size: 24px;
    }

    #content {
        font-size: 15px;
        margin-right: 12px;
        margin-left: 12px;
    }

    .link-button {
        font-size: 15px;
    }

    #intro {
        font-size: 36px;
        margin-bottom: 51px;
    }

    .title {
        font-size: 27px;
    }

    main > div > section {
        margin-left: 0;
    }

    #sincrono > section {
        font-size: 14px;
        height: 165px;
        width: 222px;
    }
    
    #arremate > section {
        font-size: 14px;
        height: 140px;
        width: 222px;
    }
    
    #final > section {
        font-size: 14px;
        width: 222px;
        margin-bottom: 24px;
    }

    #jojo {
        height: 150px;
        width: 245px;
    }
    
    #pikachu {
        height: 240px;
        width: 245px;
    }
    
    #scratch {
        height: 210px;
        width: 245px;
    }

    figcaption {
        font-size: 14px;
        margin-left: 60px;
    }
}
