body {
    display: flex;
    flex-direction: column; /* Alteração para column */
    margin: 0;
    background-color: yellowgreen;
}

header {
    display: flex;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: green;
    width: 100%;
    height: 150px;
    align-items: center;
}

#logo {
    width: 180px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#logo:hover {
    animation: grow 0.2s forwards;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 200px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 24px;
    position: relative;
}

.link-button:hover {
    color: lightblue;
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
        color: black;
    }
    100% {
        transform: scale(1.3);
        color: lightblue;
    }
}

.link-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: lightblue;
    bottom: 0;
    left: 15%;
}

.link-button:hover::after {
    width: 72%;
    animation: grow 0.2s forwards;
    transition: width 0.6s;
}

#intro {
    text-align: center;
    font-weight: bolder;
    color: rgb(226, 226, 0);
    font-size: 48px;
    text-shadow: 4px 4px 8px rgba(83, 83, 47, 0.8);
    margin-bottom: 81px;
}

.title {
    color: rgb(32, 32, 0);
    text-align: center;
    font-size: 32px;
    font-weight: bold;
}

#project {
    margin-bottom: -21px;
}

#subtitle {
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 24px;
    opacity: 0.6;
}

main {
    margin-left: 50px;
    margin-right: 50px;
}

main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main > div > section {
    font-size: 30px;
    color: yellow;
    text-align: justify;
    background-color: purple;
    border: 2px solid brown;
    border-radius: 5%;
    
}

main > div > section > p {
    margin: 24px;
}

#sincrono > section {
    height: 333px;
}

#arremate > section {
    height: 290px;
}

#final > section {
    height: 390px;
}

main img {
    margin: auto;
}

#jojo {
    border: 3px solid brown;
    border-radius: 5%;
    height: 400px;
    width: 690px;
}

#pikachu {
    border: 3px solid brown;
    border-radius: 10%;
    height: 510px;
    width: 690px;
}

#scratch {
    border: 3px solid brown;
    border-radius: 10%;
    height: 450px;
    width: 690px;
}

figcaption {
    margin-top: 5px;
    margin-left: 222px;
    margin-bottom: 69px;
    color: rgb(32, 32, 0);
    font-size: 18px;
}
