body {
    display: flex;
    flex-direction: column; /* Alteração para column */
    margin: 0;
    background-color: yellowgreen;
}

header {
    display: flex;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    background-color: green;
    width: 100%;
    height: 150px;
    align-items: center;
}


#logo {
    width: 180px;
    margin-left: 20px;
    margin-bottom: 15px;
    cursor: pointer;
}

#logo:hover {
    animation: grow 0.2s forwards;
}

#links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    margin-right: 200px;
}

.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    font-size: 24px;
    position: relative;
}

.link-button:hover {
    color: lightblue;
    animation: grow 0.2s forwards;
}

@keyframes grow {
    0% {
        transform: scale(1);
        color: black;
    }
    100% {
        transform: scale(1.3);
        color: lightblue;
    }
}

.link-button::after {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: lightblue;
    bottom: 0;
    left: 15%;
}

.link-button:hover::after {
    width: 72%;
    animation: grow 0.2s forwards;
    transition: width 0.6s;
}

#content {
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    color: rgb(32, 32, 0);
    font-size: 21px;
}

#name {
    text-align: center;
    font-weight: bolder;
    color: rgb(226, 226, 0);
    font-size: 48px;
    text-shadow: 4px 4px 8px rgba(83, 83, 47, 0.8);
}
